<div class="calculator">
    <div class="display">
        <div class="value" id="output"></div>
    </div>

    <div class="keyboard">
        <div class="line" >
            <span onclick="clearButton(this)">C</span>  
            <span onclick="clickButton(this)">()</span>
            <span onclick="clickButton(this)">%</span>
            <span onclick="clickButton(this)">&divide;</span>
        </div>
        
        <div class="line">
            <span onclick="clickButton(this)">7</span>
            <span onclick="clickButton(this)">8</span>
            <span onclick="clickButton(this)">9</span>
            <span onclick="clickButton(this)">x</span>
        </div>

        <div class="line">
            <span onclick="clickButton(this)">4</span>
            <span onclick="clickButton(this)">5</span>
            <span onclick="clickButton(this)">6</span>
            <span onclick="clickButton(this)">-</span>
        </div>

        <div class="line">
            <span onclick="clickButton(this)">1</span>
            <span onclick="clickButton(this)">2</span>
            <span onclick="clickButton(this)">3</span>
            <span onclick="clickOperator(this)">+</span>
        </div>

        <div class="line" >
            <span onclick="clickButton(this)">&plusmn;</span>
            <span onclick="clickButton(this)">0</span>
            <span onclick="clickButton(this)">,</span>
            <span onclick="clickOperator(this)">=</span>
        </div>
    </div>
</div>

    <script type="text/javascript">

        function clickButton(element) {
            console.log(element.innerHTML); /*innerHTML sempre mostra o conteudo que está dentro do elemento*/

            let result = element.innerHTML;

            document.getElementById("output").innerText = result;
        }

        function clickOperator(element) {
            console.log(element.innerHTML); /*innerHTML sempre mostra o conteudo que está dentro do elemento*/

            let result = element.innerHTML;

            document.getElementById("output").innerText = result;
        }


        function clearButton(element) {
            console.log(element.innerHTML);
            document.getElementById("output").innerHTML = '';
        }

    </script>

