<div class="calculator">
    <div class="display">
        <div class="value"></div>
    </div>

    <div class="keyboard">
        <div class="line">
            <span>C</span>
            <span>()</span>
            <span>%</span>
            <span>/</span>
        </div>
        
        <div class="line">
            <span>7</span>
            <span>8</span>
            <span>9</span>
            <span>x</span>
        </div>

        <div class="line">
            <span>4</span>
            <span>5</span>
            <span>6</span>
            <span>-</span>
        </div>

        <div class="line">
            <span>1</span>
            <span>2</span>
            <span>3</span>
            <span>+</span>
        </div>

        <div class="line">
            <span>+/-</span>
            <span>0</span>
            <span>,</span>
            <span>=</span>
        </div>

    </div>
</div>
